<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="screen">
<div class="div">
<div class="overlap">
<div class="frame">
<div class="overlap-group">
<div class="div-wrapper"><div class="text-wrapper">Twinkle</div></div>
<div class="overlap-2">
<div class="text-wrapper-2">Elevate your style</div>
<div class="view"></div>
<div class="ellipse"></div>
<img class="img" src="img/ellipse-3.png" />
<img class="vector" src="img/vector-1.png" />
<div class="ellipse-2"></div>
<div class="ellipse-3"></div>
<img class="ellipse-4" src="img/ellipse-5.png" />
<div class="ellipse-5"></div>
<div class="ellipse-6"></div>
<div class="ellipse-7"></div>
<div class="ellipse-8"></div>
</div>
</div>
<div class="overlap-group-2">
<div class="rectangle"></div>
<div class="rectangle-2"></div>
<img class="search" src="img/search-4518578-1.png" />
<img class="human" src="img/human-7047977-photoroom-1.png" />
<img class="hanger" src="img/hanger-11415035-1.png" />
<div class="text-wrapper-3">поиск...</div>
<img class="black-on-trans" src="img/black-on-trans-2-page-0001-1.png" />
<img class="menu" src="img/menu.png" />
</div>
</div>
<div class="group">
<div class="overlap-3">
<div class="ellipse-9"></div>
<div class="overlap-wrapper">
<div class="overlap-4">
<div class="ellipse-10"></div>
<div class="ellipse-11"></div>
<div class="ellipse-12"></div>
<div class="text-wrapper-4">Наш путь</div>
<p class="p">Освобождение времени пользователя от обдумывания образа</p>
<div class="ellipse-13"></div>
<div class="ellipse-14"></div>
<div class="overlap-group-wrapper">
<div class="overlap-group-3">
<div class="ellipse-15"></div>
<div class="ellipse-16"></div>
<div class="text-wrapper-5">Создание<br />сайта-помощника</div>
<div class="text-wrapper-6">Помощь в организации<br />и сочетании</div>
<img class="vector-2" src="img/vector-2.svg" />
</div>
</div>
<p class="text-wrapper-7">Целый список готовых имиджей и куча свободного времени</p>
<img class="line" src="img/line-1.svg" />
<img class="line-2" src="img/line-2.svg" />
<img class="line-3" src="img/line-3.svg" />
</div>
</div>
</div>
</div>
<div class="group-2">
<div class="overlap-5">
<div class="rectangle-3"></div>
<div class="ellipse-17"></div>
<div class="ellipse-18"></div>
<div class="ellipse-19"></div>
<div class="ellipse-20"></div>
<div class="ellipse-21"></div>
<div class="ellipse-22"></div>
<div class="ellipse-23"></div>
<div class="group-3">
<div class="group-wrapper">
<div class="group-4">
<p class="text-wrapper-8">Помощь в выборе образа на каждый день</p>
<div class="ellipse-24"></div>
</div>
</div>
<div class="frame-2">
<div class="group-5">
<div class="group-6">
<p class="text-wrapper-9">Сокращение времени, используемого для продумывания деталей</p>
</div>
<div class="ellipse-25"></div>
</div>
</div>
<div class="frame-3">
<div class="group-7">
<p class="text-wrapper-10">Развитие/подкрепление уверенности в новых образах</p>
<div class="ellipse-24"></div>
</div>
</div>
</div>
<img class="rectangle-4" src="img/rectangle-45.svg" />
<div class="text-wrapper-11">Цели</div>
<div class="text-wrapper-12">станьте лучшей версией себя!</div>
</div>
</div>
<p class="twinkle">
twinkle - сайт, который поможет вам в создании своих образов. у сайта есть 2 главные категории:<br />определение
цветотип (с чего мы советуем начать) и виртуальный гардероб. они помогут вам правильно сочетать одежду, по
вашей палитре цветов
</p>
<div class="text-wrapper-13">About Us</div>
</div>
<div class="overlap-6">
<div class="overlap-7">
<div class="overlap-8">
<div class="group-8">
<div class="overlap-9">
<div class="overlap-10">
<img class="photoroom" src="img/photoroom-1.png" />
<div class="group-9">
<div class="overlap-group-4">
<div class="text-wrapper-14">TWINKLE</div>
<div class="element">Проект 2024<br />ГБОУ Школа №1368</div>
</div>
</div>
<p class="about-us">
<span class="span">Продукт<br /></span>
<span class="text-wrapper-15"><br /></span>
<span class="text-wrapper-16"
>about us<br />цели<br />наш путь<br />определение цветотипа<br />тест на цветотип<br />виртуальный
гардероб</span
>
</p>
<div class="text"></div>
<img class="photoroom-2" src="img/photoroom-1-3.png" />
</div>
<p class="TWINKLE">
<span class="span">О TWINKLE<br /></span>
<span class="text-wrapper-15"><br /></span>
<span class="text-wrapper-16">компания<br />контакты<br />политика конфиденциальности<br /></span>
<span class="text-wrapper-15"><br /></span>
</p>
</div>
</div>
<img class="vector-3" src="img/vector-7.svg" />
<div class="rectangle-5"></div>
<div class="rectangle-6"></div>
<div class="text-wrapper-17">общий гардероб</div>
<div class="frame-4">
<div class="overlap-11">
<div class="ellipse-26"></div>
<div class="text-wrapper-18">мой гардероб</div>
<p class="div-2">
<span class="text-wrapper-19">ДОБАВЛЯЙТЕ ОДЕЖДУ </span> <span class="text-wrapper-20">ТУТ</span>
</p>
<div class="ellipse-27"></div>
<div class="ellipse-28"></div>
<div class="ellipse-29"></div>
<div class="frame-wrapper">
<div class="frame-5">
<div class="overlap-12">
<div class="frame-6">
<div class="rectangle-7"></div>
<div class="rectangle-8"></div>
<div class="div-3"><img class="i" src="img/i-1.png" /></div>
<div class="rectangle-9"></div>
<div class="rectangle-10"></div>
<div class="rectangle-11"></div>
</div>
<div class="frame-7">
<div class="rectangle-7"></div>
<div class="rectangle-8"></div>
<div class="div-3"></div>
<div class="rectangle-9"></div>
<div class="rectangle-10"></div>
<div class="rectangle-11"></div>
</div>
</div>
</div>
</div>
<div class="golden-classic-wrapper">
<img
class="golden-classic"
src="img/golden-classic-womens-dress-mockup-mannequin-3d-rendering-476612-29734-1.png"
/>
</div>
</div>
</div>
<div class="rectangle-12"></div>
<p class="div-4">
<span class="text-wrapper-21"
>В ЭТОМ РАЗДЕЛЕ ВЫ МОЖЕТЕ ПОСМОТРЕТЬ ОБРАЗЫ ДРУГИХ ПОЛЬЗОВАТЕЛЕЙ, А ТАКЖЕ ВЫСТАВИТЬ СВОИ
</span>
<span class="text-wrapper-22">[КЛИК]</span>
</p>
<img class="vector-4" src="img/vector-8.svg" />
<div class="rectangle-13"></div>
<div class="group-10"></div>
<div class="rectangle-14"></div>
<img class="search-2" src="img/search-4518578-1-2.png" />
<div class="text-wrapper-23">введите имя пользователя...</div>
<div class="rectangle-15"></div>
<img class="vector-5" src="img/vector-4.svg" />
</div>
<img class="frame-8" src="img/frame-18.svg" />
</div>
<div class="frame-9">
<div class="overlap-13">
<div class="ellipse-30"></div>
<div class="text-wrapper-24">для женщин</div>
<img class="element-2" src="img/2-1.png" />
<div class="group-11">
<div class="frame-10">
<div class="rectangle-16"></div>
<div class="rectangle-17"></div>
<div class="rectangle-18"></div>
<div class="rectangle-19"></div>
<div class="rectangle-20"></div>
<div class="rectangle-21"></div>
</div>
</div>
<div class="group-12"></div>
</div>
</div>
</div>
<div class="overlap-14">
<div class="group-13">
<div class="overlap-15">
<div class="ellipse-31"></div>
<img class="image" src="img/image-1.png" />
</div>
<div class="overlap-16">
<div class="ellipse-32"></div>
<p class="text-wrapper-25">
Пастельные тона идеально подходят для цветотипа Лето. Они подчеркивают нежность и утонченность
внешности, создавая гармоничный и сбалансированный образ. Среди них пудрово-розовый, лавандовый, мятный,
персиковый. Холодные, но не слишком яркие цвета прекрасно дополняют природные особенности цветотипа
Лето.
</p>
</div>
<div class="overlap-17">
<div class="overlap-18">
<div class="ellipse-33"></div>
<p class="text-wrapper-26">
Для лета характерны волосы, глаза и кожа с холодным подтоном. «Летние» люди не любят загорать, ведь
вместо приятного багрянца они обретают болезненную красноту на солнце.<br />При этом данный цветотип
многогранный. Так, женщина-представительница «светлого лета» выделяется за счет светлой кожи с розовым
подтоном — причем такой прозрачной, что через нее хорошо просматриваются сосуды. У тех, кто относятся
к «натуральному лету», приглушенный цвет волос, кожи и глаз — оттенки словно припыленные.
</p>
<div class="ellipse-34"></div>
</div>
<div class="text-wrapper-27">лето</div>
</div>
<div class="overlap-19">
<div class="ellipse-35"></div>
<p class="text-wrapper-28">
ЦВЕТА ОДЕЖДЫ: различные оттенки желтого, оливковый, золотисто-бежевый, лососевый, нежно-голубой,
бирюзовый, васильковый, цвет мяты. Стилисты не рекомендуют носить черный цвет в портретной зоне.
</p>
<img class="element-3" src="img/1-5.png" />
</div>
<div class="overlap-20">
<div class="overlap-21">
<div class="ellipse-36"></div>
<div class="ellipse-37"></div>
<p class="text-wrapper-29">
Самый нежный и деликатный цветотип — из-за этой особенности его часто путают с «летом» и «осенью». Для
«весны» характерны кремовая кожа с персиковым или розовым подтоном, золотистые, льняные или каштановые
волосы, прозрачно-голубые или зеленые глаза.
</p>
</div>
<div class="text-wrapper-30">основная палитра цветов</div>
<div class="text-wrapper-31">весна</div>
</div>
<div class="overlap-22">
<div class="ellipse-38"></div>
<img class="img-2" src="img/33305bacff386c16718e0f8ff80a42f2-1.png" />
<p class="div-5">
<span class="text-wrapper-32">главные цвета</span>
<span class="text-wrapper-21"
>:Яркие, холодные и оттенки от пастельных до насыщенных и глубоких: холодный голубой, ярко-синий,
фиолетовый, фуксия, серебро, серо-стальной, цвета кофе, горького шоколада, темной вишни, яркой малины
и бордо.</span
>
</p>
</div>
<div class="overlap-23">
<div class="ellipse-39"></div>
<div class="ellipse-40"></div>
<p class="text-wrapper-33">
Для представителей этого типажа характерна высокая контрастность. Кожа у них с голубоватым подтоном,
волосы темные, а их цвет варьируется от коричневых до угольного. Глаза, как правило, карие, ореховые,
темно-синие, серо-зеленые.<br />Обычно к «зиме» приписывают только людей с бледной кожей, но к этому же
типажу можно отнести и смуглых. Если у человека она оливковая, темная или тауповая — серо-коричневая —
то он тоже вписывается в данный подвид.
</p>
<a href="https://www.figma.com/downloads/" target="_blank" rel="noopener noreferrer"
><div class="text-wrapper-34">основная палитра цветов</div></a
>
<div class="text-wrapper-35">зима</div>
<p class="text-wrapper-36">
Если вы прошли наш тест(или когда то проходили до этого), то поздравляем, теперь вы знаете свой цветотип
и 50 % вашего образа вы уже составили
</p>
<div class="ellipse-41"></div>
<img class="vector-6" src="img/vector-12.svg" />
</div>
<div class="overlap-24">
<div class="rectangle-22"></div>
<img class="image-2" src="img/image.png" />
<img class="rectangle-23" src="img/rectangle.png" />
<p class="div-6">
<span class="text-wrapper-37">Цветотип</span>
<span class="text-wrapper-38">
- Важная составляющая в области стиля, с помощью него человек может подчеркнуть свои достоинства</span
>
</p>
<img class="photoroom-3" src="img/photoroom-1-2.png" />
<p class="div-7">
<span class="text-wrapper-39">первый шаг: определите свой цветотип</span>
<span class="text-wrapper-40">&nbsp;</span>
</p>
<div class="ellipse-42"></div>
<div class="rectangle-24"></div>
<img class="vector-7" src="img/vector-3.svg" />
<p class="text-wrapper-41">Существуют 4 цветотипа, олицетворяющие время года</p>
<div class="rectangle-25"></div>
<div class="rectangle-26"></div>
<p class="div-8">
<span class="text-wrapper-21"
>мы предлагаем вам пройти небольшой тест, чтобы&nbsp;&nbsp;быстро и легко определить свой
</span>
<span class="text-wrapper-42">цветотип</span>
</p>
<p class="div-9">
<span class="text-wrapper-21">пройти тест можно </span> <span class="text-wrapper-43">тут[клик]</span>
</p>
<div class="text-wrapper-44">холодные оттенки</div>
<div class="text-wrapper-45">теплые оттенки</div>
<p class="fashion-fashion">
fashion fashion fashion fashion fashion<br />
fashion fashion fashion fashion fashion
</p>
<img class="element-4" src="img/1-2.png" />
<div class="text-wrapper-46">лето</div>
<div class="text-wrapper-47">зима</div>
<img class="element-5" src="img/1-6.png" />
<img class="element-6" src="img/1-3.png" />
<div class="text-wrapper-48">весна</div>
<div class="text-wrapper-49">осень</div>
<img class="element-7" src="img/1-4.png" />
</div>
<div class="text-wrapper-50">основная палитра цветов</div>
<div class="overlap-25">
<div class="ellipse-43"></div>
<p class="text-wrapper-51">
Людей, которые относятся к этому цветотипу, проще всего определять. К «осенним» записывают почти всех
рыжих и шатенов с золотистым подтоном.<br />Кожа у представителей цветотипа «осень» с бронзовым финишем,
но румянца у них нет. А вот веснушки могут появиться. Глаза, чаще всего, карие или зеленые с ореховыми
прожилками.
</p>
</div>
<div class="text-wrapper-52">осень</div>
<div class="overlap-26">
<img class="vector-8" src="img/vector-13.svg" />
<img class="image-3" src="img/image-2.png" />
<p class="text-wrapper-53">
Подходящие оттенки для «осени»<br />Болотный, зеленовато-коричневый, хаки, Сапфировый синий, цвет
морской волны, насыщенный бирюзовый, Вся палитра теплый красных оттенков, Кремовый, молочный и цвет
слоновой кости.
</p>
</div>
<div class="text-wrapper-54">основная палитра цветов</div>
<p class="text-wrapper-55">
определив и разобрав свой цветотип, вы можете приступить к созданию своего образа
</p>
</div>
<div class="frame-11">
<div class="overlap-27">
<img class="vector-9" src="img/vector-5.svg" />
<div class="rectangle-27"></div>
<div class="rectangle-28"></div>
<div class="text-wrapper-56">виртуальный гардероб</div>
<p class="text-wrapper-57">
здесь вы можете создавать свои образы, добавляя одежду, которая вам нравится
</p>
<div class="text-wrapper-58">для мужчин</div>
<div class="text-wrapper-59">для женщин</div>
</div>
</div>
</div>
<div class="frame-12">
<div class="overlap-28">
<div class="ellipse-44"></div>
<div class="text-wrapper-60">для мужчин</div>
<img class="element-8" src="img/1.png" />
<div class="group-14">
<div class="frame-10">
<div class="rectangle-16"></div>
<div class="rectangle-17"></div>
<div class="rectangle-18"></div>
<div class="rectangle-19"></div>
<div class="rectangle-20"></div>
<div class="rectangle-21"></div>
</div>
</div>
<div class="group-15"></div>
</div>
</div>
<div class="frame-13"></div>
<div class="rectangle-29"></div>
<div class="rectangle-30"></div>
<div class="rectangle-31"></div>
<div class="rectangle-32"></div>
<div class="rectangle-33"></div>
</div>
</div>
</body>
</html>
