<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="frame">
<div class="overlap-group-wrapper">
<div class="overlap-group">
<div class="rectangle"></div>
<img class="vector" src="img/vector-11.svg" />
<img class="img" src="img/vector-10.svg" />
<div class="text-wrapper">тест на цветотип</div>
<p class="div">1.какой у вас натуральный цвет волос?</p>
<div class="ellipse"></div>
<p class="p">
От среднего до темного цвета, практически черные, золотисто-каштановые, теплые каштановые или цвета меди.
</p>
<div class="ellipse-2"></div>
<p class="text-wrapper-2">
Пепельно-каштановые/светлые или золотисто-каштановые/светлые волосы с проседью или бесцветные.
</p>
<p class="text-wrapper-3">
Темно-пепельные или темно-русые, темный пепельный блондин (но не со светлой кожей и глазами). Общее
впечатление от цвета волос – холодные, пепельные.
</p>
<div class="ellipse-3"></div>
<div class="ellipse-4"></div>
<p class="text-wrapper-4">
Теплый или золотистый брюнет, золотисто-каштановые, рыжеватые, светло-золотистые. Общее впечатление от цвета
волос теплые, с золотистым отливом.
</p>
<p class="text-wrapper-5">
Светлые (пепельные или золотистые) от светлого до темно-русого могут быть, как пепельные, так и золотистые,
легко выцветают.
</p>
<div class="ellipse-5"></div>
<p class="text-wrapper-6">какой у вас основной цвет радужки?</p>
<p class="text-wrapper-7">
Яркие, прозрачные глаза с голубым белком голубого, зеленого, бирюзового, зелено-голубого, стального серого
цвета.
</p>
<p class="text-wrapper-8">Какого оттенка у вас кожа?</p>
<p class="text-wrapper-9">
Средней яркости глаза. Цвета: прохладно-голубые, зелено-голубые, серые, серо-голубые, карие, серо-карие.
Общее впечатление - холодные глаза.
</p>
<p class="text-wrapper-10">
Неяркие глаза с желтыми теплыми вкраплениями в радужной оболочке глаза. Цвета: зеленые, карие, темно-желтые,
золотисто-карие, темно-голубые или серо-голубые. Общее впечатление – теплые глаза.
</p>
<p class="text-wrapper-11">
Темно-коричневые, темно-каштановые, золотисто-каштановые, черные, иссиня-черные.
</p>
<p class="text-wrapper-12">Светлые глаза голубого, серо-голубого, светло-карего, зелено-голубого цвета.</p>
<p class="text-wrapper-13">Темные глаза, карего и почти черного цвета, как спелые вишни.</p>
<p class="text-wrapper-14">
Светлая прозрачная, цвета слоновой кости, фарфоровая, бежевая, у некоторых людей иногда бывает красноватая
или золотистая.
</p>
<div class="text-wrapper-15">Бесцветная, с краснотой.</div>
<p class="text-wrapper-16">
С розовым оттенком, розово-бежевая, желтоватая с пепельными веснушками. Общее впечатление от цвета кожи –
холодная с голубоватым подтоном.
</p>
<p class="text-wrapper-17">
Золотисто-бежевая, цвета слоновой кости, очень бледная с золотистыми веснушками. Общее впечатление от цвета
кожи – теплая с желтоватым отливом.
</p>
<p class="text-wrapper-18">Светлая, персиковая теплая или розовая холодная без веснушек.</p>
<p class="text-wrapper-19">Смуглая, желтая с оливковым оттенком</p>
<div class="ellipse-6"></div>
<div class="ellipse-7"></div>
<div class="ellipse-8"></div>
<div class="ellipse-9"></div>
<div class="ellipse-10"></div>
<div class="ellipse-11"></div>
<div class="ellipse-12"></div>
<div class="ellipse-13"></div>
<div class="ellipse-14"></div>
<div class="ellipse-15"></div>
<div class="ellipse-16"></div>
<div class="ellipse-17"></div>
<div class="ellipse-18"></div>
<div class="text-wrapper-20">результаты</div>
<div class="ellipse-19"></div>
<div class="ellipse-20"></div>
<div class="ellipse-21"></div>
<div class="ellipse-22"></div>
<div class="rectangle-2"></div>
<img class="black-on-trans" src="img/black-on-trans-2-page-0001-1.png" />
<div class="text-wrapper-21">загрузка</div>
<p class="text-wrapper-22">
Не яркие глаза, светло-карие, от среднего до темно-карего, зеленые, серо-голубые
</p>
</div>
</div>
</div>
</body>
</html>
